In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('athlete_events.csv')
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [16]:
df['Name'] = pd.Series(df['Name'], dtype="string")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  string
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(9), string(1)
memory usage: 31.0+ MB

> Dummy for Sex:\
> 0: Male, 1: Female

In [17]:
df['Sex'] = pd.Series(df['Sex'], dtype="string")

def dummy_sex(series):
    res = []
    for elem in series:
        if elem == 'M':
            res.append(0)
        else:
            res.append(1)
    return res


df['Sex'] = dummy_sex(df['Sex'])
df.Sex.unique()

array([0, 1], dtype=int64)

In [18]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,0,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,0,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,0,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,0,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,1,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

> Age has missing values:

In [19]:
df.Height.unique()

array([180., 170.,  nan, 185., 188., 183., 168., 186., 182., 172., 159.,
       171., 184., 175., 189., 176., 163., 187., 169., 174., 190., 194.,
       177., 167., 164., 198., 165., 156., 179., 178., 166., 181., 155.,
       160., 173., 192., 195., 191., 203., 158., 154., 153., 152., 193.,
       162., 197., 157., 207., 147., 150., 202., 161., 210., 205., 200.,
       148., 208., 140., 213., 204., 151., 196., 146., 201., 132., 149.,
       199., 211., 215., 139., 206., 135., 142., 217., 209., 145., 221.,
       144., 214., 143., 218., 127., 223., 216., 141., 212., 131., 136.,
       137., 138., 220., 130., 219., 133., 128., 226.])

In [20]:
def isNaN(num):
    return num != num

> Height and Weight have missing values\
> Make Distinction of Gender!

In [21]:


for key_sport in df.Sport.unique():
    for key in ['Height', 'Weight']:
        for i in range(2):
            count = 0
            not_NaN_heights = []
            for elem in df[(df['Sport'] == key_sport) & (df['Sex'] == i)][key]:
                if isNaN(elem):
                    continue
                else:
                    count += 1
                    not_NaN_heights.append(elem)

            if not_NaN_heights == []:
                median_height = 'missing'
            else:
                median_height = np.median(not_NaN_heights)
            print(key_sport, key+':', (i, median_height), count)

Basketball Height: (0, 195.0) 2630
Basketball Height: (1, 183.0) 1251
Basketball Weight: (0, 90.0) 2471
Basketball Weight: (1, 73.0) 1207
Judo Height: (0, 178.0) 2400
Judo Height: (1, 165.0) 1000
Judo Weight: (0, 80.0) 2441
Judo Weight: (1, 63.0) 1005
Football Height: (0, 178.0) 3662
Football Height: (1, 168.0) 985
Football Weight: (0, 73.0) 3549
Football Weight: (1, 60.0) 984
Tug-Of-War Height: (0, 182.0) 25
Tug-Of-War Height: (1, 'missing') 0
Tug-Of-War Weight: (0, 95.0) 52
Tug-Of-War Weight: (1, 'missing') 0
Speed Skating Height: (0, 180.0) 2562
Speed Skating Height: (1, 167.0) 1961
Speed Skating Weight: (0, 76.0) 2480
Speed Skating Weight: (1, 62.0) 1941
Cross Country Skiing Height: (0, 178.0) 4556
Cross Country Skiing Height: (1, 167.0) 3113
Cross Country Skiing Weight: (0, 72.0) 4449
Cross Country Skiing Weight: (1, 57.0) 3088
Athletics Height: (0, 180.0) 21882
Athletics Height: (1, 169.0) 11025
Athletics Weight: (0, 71.0) 21598
Athletics Weight: (1, 58.0) 11003
Ice Hockey Height: (0, 181.0) 3857
Ice Hockey Height: (1, 168.0) 754
Ice Hockey Weight: (0, 84.0) 3839
Ice Hockey Weight: (1, 66.0) 754
Swimming Height: (0, 185.0) 10578
Swimming Height: (1, 171.0) 8572
Swimming Weight: (0, 78.0) 10341
Swimming Weight: (1, 61.0) 8463
Badminton Height: (0, 180.0) 712
Badminton Height: (1, 168.0) 675
Badminton Weight: (0, 75.0) 702
Badminton Weight: (1, 61.0) 660
Sailing Height: (0, 180.0) 4060
Sailing Height: (1, 170.0) 879
Sailing Weight: (0, 77.0) 3999
Sailing Weight: (1, 63.0) 871
Biathlon Height: (0, 179.0) 2818
Biathlon Height: (1, 166.0) 1813
Biathlon Weight: (0, 72.0) 2808
Biathlon Weight: (1, 57.0) 1807
Gymnastics Height: (0, 168.0) 11022
Gymnastics Height: (1, 157.0) 7640
Gymnastics Weight: (0, 63.5) 10758
Gymnastics Weight: (1, 48.0) 7577
Art Competitions Height: (0, 175.0) 58
Art Competitions Height: (1, 160.0) 1
Art Competitions Weight: (0, 76.0) 55
Art Competitions Weight: (1, 'missing') 0
Alpine Skiing Height: (0, 178.0) 3756
Alpine Skiing Height: (1, 168.0) 2638
Alpine Skiing Weight: (0, 78.0) 3745
Alpine Skiing Weight: (1, 62.0) 2605
Handball Height: (0, 189.0) 2053
Handball Height: (1, 175.0) 1296
Handball Weight: (0, 89.0) 2052
Handball Weight: (1, 68.0) 1283
Weightlifting Height: (0, 170.0) 2548
Weightlifting Height: (1, 160.0) 460
Weightlifting Weight: (0, 75.0) 3340
Weightlifting Weight: (1, 63.0) 463
Wrestling Height: (0, 172.0) 5042
Wrestling Height: (1, 164.0) 304
Wrestling Weight: (0, 74.0) 5002
Wrestling Weight: (1, 61.0) 303
Luge Height: (0, 179.0) 1031
Luge Height: (1, 169.0) 351
Luge Weight: (0, 80.0) 1027
Luge Weight: (1, 66.0) 351
Water Polo Height: (0, 187.0) 2300
Water Polo Height: (1, 175.0) 488
Water Polo Weight: (0, 87.0) 2236
Water Polo Weight: (1, 69.0) 488
Hockey Height: (0, 177.0) 2910
Hockey Height: (1, 166.0) 1405
Hockey Weight: (0, 74.0) 2877
Hockey Weight: (1, 60.0) 1390
Rowing Height: (0, 188.0) 5797
Rowing Height: (1, 178.0) 2123
Rowing Weight: (0, 86.0) 5810
Rowing Weight: (1, 72.0) 2123
Bobsleigh Height: (0, 182.0) 2129
Bobsleigh Height: (1, 173.0) 143
Bobsleigh Weight: (0, 90.0) 2069
Bobsleigh Weight: (1, 73.0) 143
Fencing Height: (0, 180.0) 5168
Fencing Height: (1, 169.0) 1794
Fencing Weight: (0, 75.0) 4766
Fencing Weight: (1, 60.0) 1774
Equestrianism Height: (0, 176.0) 3443
Equestrianism Height: (1, 168.0) 1159
Equestrianism Weight: (0, 70.0) 3400
Equestrianism Weight: (1, 58.0) 1153
Shooting Height: (0, 176.0) 5999
Shooting Height: (1, 165.0) 1670
Shooting Weight: (0, 77.0) 5635
Shooting Weight: (1, 60.0) 1665
Boxing Height: (0, 172.0) 4508
Boxing Height: (1, 168.0) 70
Boxing Weight: (0, 63.0) 4489
Boxing Weight: (1, 60.0) 61
Taekwondo Height: (0, 183.0) 306
Taekwondo Height: (1, 172.0) 292
Taekwondo Weight: (0, 75.0) 306
Taekwondo Weight: (1, 58.5) 296
Cycling Height: (0, 178.0) 6634
Cycling Height: (1, 168.0) 1342
Cycling Weight: (0, 72.0) 6492
Cycling Weight: (1, 59.0) 1338
Diving Height: (0, 172.0) 1093
Diving Height: (1, 162.0) 985
Diving Weight: (0, 68.0) 1045
Diving Weight: (1, 53.0) 969
Canoeing Height: (0, 181.0) 4277
Canoeing Height: (1, 170.0) 1283
Canoeing Weight: (0, 80.0) 4272
Canoeing Weight: (1, 65.0) 1280
Tennis Height: (0, 185.0) 1071
Tennis Height: (1, 172.0) 971
Tennis Weight: (0, 79.0) 1044
Tennis Weight: (1, 61.0) 964
Modern Pentathlon Height: (0, 180.0) 1129
Modern Pentathlon Height: (1, 170.0) 164
Modern Pentathlon Weight: (0, 72.0) 1097
Modern Pentathlon Weight: (1, 58.5) 164
Figure Skating Height: (0, 176.0) 819
Figure Skating Height: (1, 160.0) 848
Figure Skating Weight: (0, 70.0) 742
Figure Skating Weight: (1, 50.0) 770
Golf Height: (0, 180.0) 71
Golf Height: (1, 168.0) 60
Golf Weight: (0, 78.0) 53
Golf Weight: (1, 63.0) 55
Softball Height: (0, 'missing') 0
Softball Height: (1, 169.5) 448
Softball Weight: (0, 'missing') 0
Softball Weight: (1, 66.0) 441
Archery Height: (0, 178.0) 1038
Archery Height: (1, 168.0) 907
Archery Weight: (0, 75.0) 1002
Archery Weight: (1, 61.0) 884
Volleyball Height: (0, 194.0) 1788
Volleyball Height: (1, 180.0) 1495
Volleyball Weight: (0, 87.0) 1782
Volleyball Weight: (1, 70.0) 1495
Synchronized Swimming Height: (0, 'missing') 0
Synchronized Swimming Height: (1, 168.0) 864
Synchronized Swimming Weight: (0, 'missing') 0
Synchronized Swimming Weight: (1, 55.0) 850
Table Tennis Height: (0, 177.0) 927
Table Tennis Height: (1, 165.0) 862
Table Tennis Weight: (0, 71.0) 927
Table Tennis Weight: (1, 58.0) 864
Nordic Combined Height: (0, 177.0) 1120
Nordic Combined Height: (1, 'missing') 0
Nordic Combined Weight: (0, 67.0) 1067
Nordic Combined Weight: (1, 'missing') 0
Baseball Height: (0, 183.0) 846
Baseball Height: (1, 'missing') 0
Baseball Weight: (0, 85.0) 847
Baseball Weight: (1, 'missing') 0
Rhythmic Gymnastics Height: (0, 'missing') 0
Rhythmic Gymnastics Height: (1, 168.0) 632
Rhythmic Gymnastics Weight: (0, 'missing') 0
Rhythmic Gymnastics Weight: (1, 49.0) 615
Freestyle Skiing Height: (0, 176.0) 495
Freestyle Skiing Height: (1, 165.0) 431
Freestyle Skiing Weight: (0, 74.0) 486
Freestyle Skiing Weight: (1, 58.0) 427
Rugby Sevens Height: (0, 184.0) 151
Rugby Sevens Height: (1, 168.0) 146
Rugby Sevens Weight: (0, 90.0) 151
Rugby Sevens Weight: (1, 66.5) 148
Trampolining Height: (0, 170.0) 76
Trampolining Height: (1, 162.0) 75
Trampolining Weight: (0, 64.0) 74
Trampolining Weight: (1, 53.0) 75
Beach Volleyball Height: (0, 193.0) 275
Beach Volleyball Height: (1, 180.0) 270
Beach Volleyball Weight: (0, 89.0) 273
Beach Volleyball Weight: (1, 68.0) 265
Triathlon Height: (0, 180.0) 266
Triathlon Height: (1, 167.0) 262
Triathlon Weight: (0, 69.0) 265
Triathlon Weight: (1, 55.0) 261
Ski Jumping Height: (0, 177.0) 2001
Ski Jumping Height: (1, 164.5) 30
Ski Jumping Weight: (0, 65.0) 1942
Ski Jumping Weight: (1, 52.5) 26
Curling Height: (0, 180.0) 227
Curling Height: (1, 168.0) 221
Curling Weight: (0, 82.0) 204
Curling Weight: (1, 63.0) 206
Snowboarding Height: (0, 179.0) 519
Snowboarding Height: (1, 166.0) 416
Snowboarding Weight: (0, 78.0) 513
Snowboarding Weight: (1, 60.0) 412
Rugby Height: (0, 175.0) 62
Rugby Height: (1, 'missing') 0
Rugby Weight: (0, 76.0) 30
Rugby Weight: (1, 'missing') 0
Short Track Speed Skating Height: (0, 175.0) 749
Short Track Speed Skating Height: (1, 164.0) 739
Short Track Speed Skating Weight: (0, 72.0) 749
Short Track Speed Skating Weight: (1, 58.0) 739
Skeleton Height: (0, 180.0) 110
Skeleton Height: (1, 169.0) 65
Skeleton Weight: (0, 81.0) 109
Skeleton Weight: (1, 60.0) 65
Lacrosse Height: (0, 174.0) 2
Lacrosse Height: (1, 'missing') 0
Lacrosse Weight: (0, 75.0) 7
Lacrosse Weight: (1, 'missing') 0
Polo Height: (0, 177.5) 4
Polo Height: (1, 'missing') 0
Polo Weight: (0, 'missing') 0
Polo Weight: (1, 'missing') 0
Cricket Height: (0, 'missing') 0
Cricket Height: (1, 'missing') 0
Cricket Weight: (0, 'missing') 0
Cricket Weight: (1, 'missing') 0
Racquets Height: (0, 176.0) 2
Racquets Height: (1, 'missing') 0
Racquets Weight: (0, 'missing') 0
Racquets Weight: (1, 'missing') 0
Motorboating Height: (0, 181.0) 1
Motorboating Height: (1, 'missing') 0
Motorboating Weight: (0, 77.0) 1
Motorboating Weight: (1, 'missing') 0
Military Ski Patrol Height: (0, 'missing') 0
Military Ski Patrol Height: (1, 'missing') 0
Military Ski Patrol Weight: (0, 'missing') 0
Military Ski Patrol Weight: (1, 'missing') 0
Croquet Height: (0, 'missing') 0
Croquet Height: (1, 'missing') 0
Croquet Weight: (0, 'missing') 0
Croquet Weight: (1, 'missing') 0
Jeu De Paume Height: (0, 178.5) 2
Jeu De Paume Height: (1, 'missing') 0
Jeu De Paume Weight: (0, 'missing') 0
Jeu De Paume Weight: (1, 'missing') 0
Roque Height: (0, 'missing') 0
Roque Height: (1, 'missing') 0
Roque Weight: (0, 'missing') 0
Roque Weight: (1, 'missing') 0
Alpinism Height: (0, 'missing') 0
Alpinism Height: (1, 'missing') 0
Alpinism Weight: (0, 'missing') 0
Alpinism Weight: (1, 'missing') 0
Basque Pelota Height: (0, 'missing') 0
Basque Pelota Height: (1, 'missing') 0
Basque Pelota Weight: (0, 'missing') 0
Basque Pelota Weight: (1, 'missing') 0
Aeronautics Height: (0, 'missing') 0
Aeronautics Height: (1, 'missing') 0
Aeronautics Weight: (0, 'missing') 0
Aeronautics Weight: (1, 'missing') 0

In [22]:
np.median([])

c:\Users\jstimolo\anaconda3\envs\MLG\lib\site-packages\numpy\core\fromnumeric.py:3440: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\jstimolo\anaconda3\envs\MLG\lib\site-packages\numpy\core\_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

nan

In [23]:
def substitute_NaN_heights(series):
    res = []
    for elem in series:
        if isNaN(elem):
            res.append(median_height)
        else:
            res.append(elem)
    return res

In [24]:
df['Height'] = substitute_NaN_heights(df['Height'])
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,0,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,0,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,0,24.0,missing,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,0,34.0,missing,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,1,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,0,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,0,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,0,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,0,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,0,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN